#Stage 0 : initialization of rewrite engine; do not touch without a clue.
RewriteEngine on
RewriteBase /
#site operator must keep these in order:
# must start and end with /

# redirect www.seductiveapps.com to seductiveapps.com
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^$ /index.php [L]
#RewriteRule ^beeindiging-bewind$ /1.php [L]
#RewriteRule ^klachten-over-psychiater$ /2.php [L]
#RewriteRule ^bb$ /1.php [L]
#RewriteRule ^kop$ /2.php [L]

RewriteRule ^aar$ https://nicer.app/music?pw=AllahuaAckbar507788 [L]
RewriteRule ^aa$ https://nicer.app/music?pw=AllahuaAckbar507788&idxStart=1400 [L]
#RewriteRule ^xmasr$ https://nicer.app/music?pw=alwaysXMASzzz [L]
#RewriteRule ^xmas$ https://nicer.app/music?pw=alwaysXMASzzz&idxStart=1400 [L]
#RewriteRule ^xmas$ https://nicer.app/view/eyJcL05pY2VyQXBwV2ViT1NcL2FwcHNcL05pY2VyQXBwV2ViT1NcL2FwcGxpY2F0aW9uc1wvMkRcL211c2ljUGxheWVyLmZhbmN5LmxhdGVzdC4yRCI6eyJzZXQiOiJESiBGaXJlc25ha2UiLCJzZW9WYWx1ZSI6Im11c2ljLURKLXQxLUZpcmVzbmFrZSIsIndlYlJlbFBhdGgiOiJcL1wvXC9ESiBtaXhlc1wvREogRmlyZXNuYWtlXC9yZWxlYXNlZFwvIn19?idxStart=1400&pw=alwaysXMASzzz [L]
RewriteRule ^a$ https://nicer.app/music?pw=50plzTolerate&idxStart=1400 [L]
RewriteRule ^d1$ https://facebook.com/rene.veerman.90 [L]
RewriteRule ^d2$ https://x.com/GavanVeers [L]
RewriteRule ^d3$ https://said.by/Rene-AJM-Veerman/in/hisDiary [L]
#RewriteRule ^music$ https://nicer.app/music?pw=50plzTolerate&idxStart=1400 [L]
#RewriteRule ^m$ https://nicer.app/music?pw=alwaysXMASzzz [L]
#RewriteRule ^m1$ https://nicer.app/music?pw=50plzTolerate&idxStart=1400 [L]
#RewriteRule ^m2$ https://nicer.app/view/eyJcL05pY2VyQXBwV2ViT1NcL2FwcHNcL05pY2VyQXBwV2ViT1NcL2FwcGxpY2F0aW9uc1wvMkRcL211c2ljUGxheWVyLmZhbmN5LmxhdGVzdC4yRCI6eyJzZXQiOiJESiBGaXJlc25ha2UiLCJzZW9WYWx1ZSI6Im11c2ljLURKLXQxLUZpcmVzbmFrZSIsIndlYlJlbFBhdGgiOiJcL1wvXC9ESiBtaXhlc1wvREogRmlyZXNuYWtlXC9yZWxlYXNlZFwvIn19?idxStart=1400&pw=alwaysXMASzzz [L]
RewriteRule ^p1$ https://said.by/mrPatient/in/evidence [L]
RewriteRule ^p2$ https://said.by/telepathy-manual [L]
RewriteRule ^p3$ https://tinyurl.com/pro-smoking [L]
RewriteRule ^p4$ https://said.by/p4 [L]

#RewriteRule ^p1$ https://said.by/Rene-AJM-Veerman/in/offline [L]
#RewriteRule ^p2$ https://said.by/Rene-AJM-Veerman/in/offline [L]
RewriteRule ^r$ https://said.by/Refirenda?pw=inS3rvice0fHumanity [L]
#RewriteRule ^rv$ https://x.com/GavanVeers [L]
RewriteRule ^z$ https://said.by/GavanHoverswell/in/MethodActing [L]



RewriteRule ^pricing$ /index.php?content=pricing [L]
RewriteRule ^explanation$ /index.php?content=explanation [L]
RewriteRule ^buy-(.*)$ /index.php?content=buy&plan=$1 [L]

RewriteCond "%{REQUEST_URI}" "!^(/index\.php|/robots\.txt|/favicon\.ico)$"
RewriteCond "%{REQUEST_URI}" "!^/favicon/.*$"
RewriteCond "%{REQUEST_URI}" "!^/.*\.jpg$"
RewriteCond "%{REQUEST_URI}" "!^/.*\.png$"
RewriteCond "%{REQUEST_URI}" "!^/.*\.js$"
RewriteCond "%{REQUEST_URI}" "!^/.*\.css$"
RewriteCond "%{REQUEST_URI}" "!^/.*\.php$"
RewriteRule ^(.*)$ /index.php?content=redirect&redirect=$1 [L]

<Files ".htaccess">  
  Require all denied
</Files>

<Files "couchdb.json">  
  Require all denied
</Files>
